/* Start Variable */
:root {
  --main-color: #19c8fa;
  --transparent-color: rgb(15 116 143 / 70%);
  --section-padding: 100px;
}
/* End Variable */

/* Start Global Rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Open Sans", sans-serif;
}
ul {
  list-style: none;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 768px) {
  .container {
    width: 750;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970;
  }
}
/* End Global Rules */

/* Start Components */
.main-heading {
  text-align: center;
}
.main-heading h2 {
  font-size: 40px;
  font-weight: normal;
  position: relative;
  margin-bottom: 70px;
  text-transform: uppercase;
}
.main-heading h2::before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: 2px;
  background-color: #333;
  bottom: -30px;
  width: 120px;
}
.main-heading h2::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  border: solid 2px #333;
  bottom: -36.5px;
  height: 14px;
  width: 14px;
  border-radius: 50%;
}
.main-heading p {
  width: 550px;
  margin: 0 auto 100px;
  max-width: 100%;
  line-height: 2;
  color: #777;
}
/* End Components */

/* Start Header */
header {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 3;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  min-height: 100px;
}
header .container::after {
  content: "";
  width: calc(100% - 30px);
  height: 2px;
  position: absolute;
  bottom: 0;
  left: 15px;
  background-color: #a2a2a2;
}
header .logo {
  height: 40px;
}

header nav {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

header nav .toggle-menu {
  color: white;
  font-size: 22px;
}

@media (min-width: 768px) {
  header nav .toggle-menu {
    display: none;
  }
}

header nav ul {
  display: flex;
}
@media (max-width: 767px) {
  header nav ul {
    display: none;
  }
}
header nav .toggle-menu:hover + ul {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: rgba(0 0 0 50%);
}
header nav .toggle-menu:hover + ul li a {
  padding: 15px;
}
header nav ul li a {
  display: block;
  color: white;
  text-decoration: none;
  transition: 0.3s;
  padding: 40px 10px;
  position: relative;
  z-index: 2;
}
header nav ul li a.active,
header nav ul li a:hover {
  color: var(--main-color);
  border-bottom: var(--main-color) 2px solid;
}
header nav .form {
  width: 40px;
  height: 30px;
  position: relative;
  margin-left: 30px;
  border-left: 1px solid white;
}
header nav .form i {
  color: white;
  position: absolute;
  font-size: 20px;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
}
/* End Header */

/* Start Landing */
.landing {
  min-height: 100vh;
  background-color: #1f2021;
  background-image: url(../images/landing.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  /* margin-bottom: 70px; */
}

.landing .overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #00000099;
}
.landing .text {
  position: absolute;
  left: 0;
  top: 50%;
  transform: rotateY(-50%);
  width: 50%;
  padding: 25px;
  background-color: var(--transparent-color);
  color: white;
  display: flex;
  justify-content: flex-end;
}

.landing .text .content {
  max-width: 500px;
}
@media (max-width: 767px) {
  .landing .text {
    width: 100%;
  }
  .landing .text .content {
    max-width: 100%;
  }
}

.landing .text .content h2 {
  font-size: 32px;
  line-height: 1.5;
  font-weight: normal;
  margin-bottom: 20px;
}
.landing .text .content p {
  font-size: 14px;
  line-height: 1.8;
}

.landing .change-bg {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #ddd;
}
@media (max-width: 767px) {
  .landing .change-bg {
    display: none;
  }
}
.landing .fa-angle-left {
  left: 30px;
}
.landing .fa-angle-right {
  right: 30px;
}
.landing .bullets {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 30px;
  display: flex;
}

.landing .bullets li {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid white;
  margin-right: 10px;
}

.landing .bullets li.active {
  background-color: var(--main-color);
}

/* End Landing */

/* Start Services */

.services {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}

@media (min-width: 768px) {
  .services .services-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
    gap: 60px 40px;
  }
}
.services .container .srv-box {
  display: flex;
}
.services .container .srv-box i {
  margin-right: 50px;
}
@media (max-width: 767px) {
  .services .container .srv-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 40px;
  }
  .services .container .srv-box i {
    margin: 0 0 30px;
  }
}
.services .container .srv-box h3 {
  margin-bottom: 30px;
  color: var(--main-color);
}
.services .container .srv-box p {
  line-height: 2;
  color: #777;
}
.services .services-container {
  display: grid;
}

/* End Services */

/* Start Design */

.design {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  height: 600px;
  position: relative;
  background-image: url("../images/design-features.jpg");
  background-size: cover;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.design::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #00000099;
}
.design .text,
.design .image {
  position: relative;
  z-index: 2;
  flex: 1;
}

.design .image {
  text-align: center;
}

@media (max-width: 767px) {
  .design .image {
    display: none;
  }
}

.design .image img {
  position: relative;
  bottom: -150px;
}

.design .text {
  color: white;
  padding: 50px;
  background: var(--transparent-color);
}

.design .text h2 {
  font-weight: normal;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.design .text ul li {
  padding: 15px 0;
}

.design .text ul li::before {
  font-family: "Font Awesome 7 Free";
  font-weight: 900;
  margin-right: 10px;
  position: relative;
  top: 1px;
}

.design .text ul :nth-child(1):before {
  content: "\f108";
}
.design .text ul :nth-child(2):before {
  content: "\f247";
}
.design .text ul :nth-child(3):before {
  content: "\f121";
}
.design .text ul :nth-child(4):before {
  content: "\f5ba";
}

/* End Design */

/* Start Portfolio */
.portfolio {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}

.portfolio .shuffle {
  display: flex;
  justify-content: center;
}
.portfolio .shuffle li {
  padding: 10px;
  border-radius: 8px;
}

.portfolio .shuffle li:hover {
  background: var(--main-color);
  color: white;
}

.portfolio .shuffle li.active {
  background: var(--main-color);
  color: white;
}
.portfolio .images-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 60px;
}

.portfolio .images-container .box {
  position: relative;
  overflow: hidden;
}
.portfolio .images-container .box:hover .caption {
  bottom: 0;
}
.portfolio .images-container .box:hover img {
  scale: 1.1;
  rotate: 3deg;
}

@media (min-width: 768px) {
  .portfolio .images-container .box {
    flex-basis: 50%;
  }
}
@media (min-width: 1199px) {
  .portfolio .images-container .box {
    flex-basis: 25%;
  }
}
.portfolio .images-container .box img {
  max-width: 100%;
}

.portfolio .images-container .box .caption {
  position: absolute;
  left: 0;
  padding: 20px;
  transition: 0.3s;
  color: white;
  bottom: -100%;
}

.portfolio .images-container .box .caption h4 {
  font-weight: normal;
  margin-bottom: 10px;
}
.portfolio .images-container .box .caption p {
  color: var(--main-color);
}

.portfolio .more {
  background-color: var(--main-color);
  color: white;
  padding: 15px 20px;
  display: block;
  width: fit-content;
  margin: 30px auto;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 6px;
}

/* End Portfolio */

/* Start Video */
.video {
  position: relative;
}
.video::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.video video {
  width: 100%;
}

.video .text {
  width: 100%;
  position: absolute;
  top: 50%;
  translate: 0 -50%;
  background-color: var(--transparent-color);
  color: white;
  padding: 50px;
  text-align: center;
}

.video .text h2 {
  margin: 0 0 30px;
  text-transform: uppercase;
  font-weight: normal;
}

.video .text p {
  margin-bottom: 30px;
}

.video .text button {
  background-color: var(--main-color);
  color: white;
  text-transform: uppercase;
  padding: 10px 20px;
  border: none;
}

/* End Video */
